.card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 40% ;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgb(0 0 0 / 0.1);
    margin-left: 40px;
    margin-bottom: 48px;
    margin-right: 40px;
    padding: 0%;
    overflow: hidden;
    
  }
 
  
  