.App {
  font-family: sans-serif;
  text-align: center;
}
.main-column {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  height: 168px;
  margin-left: 150px;
  margin-right: 150px;
  flex-direction: row;
  justify-content: space-around;
  
}
.heading{
  margin-left: 150px;
  margin-right: 150px;
  padding: 2%;
  display: flex;
}
.heading>h1{
  font-size: 24px;
  font-weight: 700;
  
}
.dropdown{
  border: 1px;
  background-color: white;
  margin-left: 5px;
  outline:0;
}
@media (max-width: 800px) {
  .main-column {
    flex-direction: row;
    flex: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .heading{
    margin-left: 40px;
    margin-right: 40px;
  }
}
.button-main{
  background-color: white;
  border: 0px;
  padding-top: 10px;
  
}

